services:
  mysql:
    image: mysql:8.0
    container_name: wave-games-backend-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wave-games-database
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: wave-games-phpmyadmin
    restart: always
    ports:
      - "8091:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql
    networks:
      - app-network
      
  redis:
    image: redis:latest
    container_name: wave-games-redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes", "--protected-mode no"]
    networks:
      - app-network

  redisinsight:
    image: redislabs/redisinsight:latest
    container_name: wave-games-redisinsight
    restart: always
    ports:
      - "8002:5540"  
    depends_on:
      - redis
    networks:
      - app-network
  
   
volumes:
  mysql-data:

networks:
  app-network:
    driver: bridge